* { box-sizing: border-box; }
html { padding: 0; margin: 0; font-family: '微軟正黑體'; font-weight: 900; }
body {
    max-width: 1400px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrap{
    position: relative;
}

#expBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 0 2px;
    font-weight: bold;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    border: 1px solid #aaa;
    --percent: 0%;
    background: linear-gradient(to right, lime 0%, lime var(--percent), lightgray var(--percent), lightgray 100%);
}

#totalDamage {
    position: absolute;
    right: 10px;
    top: 10px
}